@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.nav-parent{
  background-color: rgb(7, 7, 69);
}

.left-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 90px;

}

.left-nav a{
  font-size: 21px;
  font-family: Inter,"sans-serif";
  font-weight: 400;
  color: white;
  text-decoration: none;
}



.nav-link {
  color: white !important;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover {
  color: #00d1b2 !important;
  background-color: transparent !important;
  text-decoration: none;
}

.navbar-nav {
  gap: 10.5rem; 
}

.middle-nav{
  position: absolute;
  left: 60%;
  transform: translateX(-50%);
}

.middle-nav a{
  font-size: 17px;
  font-family: Inter,"sans-serif";
  font-weight: 300;
  color: white;
  text-decoration: none; 
}

.btn{
  color: white;
  transition: color 0.3s ease, background-color 0.3s ease;
  border: 1px solid white;
  padding: 0.5rem 2.2rem;

}

.btn:hover{
  color: #00d1b2 !important;
  background-color: transparent !important;
  text-decoration: none;
  border: 1px solid white;

}